# Dossiers de build
build/
release/
out/

# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters

# Fichiers compilés
*.exe
*.obj
*.pdb
*.ilk
*.log
*.idb
*.o
*.a
*.so

# Configuration
debug/

# Outils de packaging
linuxdeploy*.AppImage
*.AppDir/
*.AppImage

# Fichiers temporaires
*~
.DS_Store
*.swp
*.swo
ICONE_README.md